*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ----- header styles ----- */

.header img{
    width: 100%;
    height: auto;
	opacity: 0.4;
}
.header .header-item {
	position: absolute;
	top: 40%;
	left: 25%;
	text-align: center;
	width: 50%;
}
.header-title {
	font-weight: 800;
	font-size: 50px;
}
.header-description{
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header-btn {
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
}

/* ---- donate today styles ---- */

.donate-today{
	margin: 30px 200px;
}
.donate-today-container{
	padding: 70px 200px;
}
.praimary-title {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}
.praimary-description{
	text-align: center;
	color: lightslategray;
	margin: 30px 30px;
}
.donate-today-container ul{
	display: flex;
	/* justify-content: space-between; */
}
.donate-today-container ul li {
	list-style-type: none;
	background-color: lightgrey;
	padding: 30px 34px;
	margin-left: 10px;
	border: 1px solid lightgrey;
	font-weight: 700;
	font-size: 17px;
	border-radius: 5px;
}
.donate-today-container ul li:hover{
	border: 2px solid #f90a0aa1;
	color: #f90b0bf8;
	background: #febbc5ee;
}
.donate-border{
	color:#d3d3d354;
}
.donate-btn {
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
}

/* ---- our donate plan styles ---- */

/* .our-donate{
	margin: 10px 200px
} */
.donate-plan-all-container{
	padding: 30px 300px;
}
.donate-plan-container{
	display: flex;
	gap:20px;
	padding: 20px 20px;
}
.donate-plan-item-1{
	background-color: #d9eaf0e2;
	padding: 35px 15px;
	border-radius: 5px;
}
.donate-plan-item-2{
	background-color: #edd4d8;
	padding: 35px 15px;
	border-radius: 5px;
}
.donate-plan-item-3{
	background-color: #f0f0c1;
	padding: 35px 15px;
	border-radius: 5px;
}
.donate-plan-title{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ---- depend donation style ---- */
.depend-donation{
	margin: 10px 300px;
}
.depend-donation img{
	width:100%;
}
.depend-maincol{
	display: flex;
	flex-wrap: wrap;
	
}
.depend-maincol .left-column{
	width: 45%;
	margin-right: 7%;
}
.depend-maincol .right-column{
	width:45%;
}
.depend-donation h2{
	font-weight: 800;
	font-size: 30px;
	padding-bottom: 10px;
}
.depend-donation p{
	color: lightslategray;
}
.depend-donation .depend-btn{
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}

/* ---- They need us section ---- */

.need-section {
	margin: 60px 300px;
}
.need-section .need-maincol img{
	width: 100%;
}
.need-maincol{
	display: flex;
} 
.need-maincol .left-column{
	width: 40%;
	margin-right: 7%;
}
.need-maincol .right-column{
	width:50%;
}
.need-maincol .right-column h2{
	font-weight: 800;
	font-size: 30px;
	padding-bottom: 10px;
}
.need-maincol .right-column p{
	color: lightslategray;
}
.need-maincol .need-btn{
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
}


