*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ----- header styles ----- */

.header img{
    width: 100%;
    height: auto;
	opacity: 0.4;
}
.header .header-item {
	position: absolute;
	top: 40%;
	left: 25%;
	text-align: center;
	width: 50%;
}
.header-title {
	font-weight: 800;
	font-size: 50px;
}
.header-description{
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.header-btn {
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
}

/* ---- donate today styles ---- */

.donate-today{
	margin: 30px 200px;
}
.donate-today-container{
	padding: 70px 200px;
}
.praimary-title {
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}
.praimary-description{
	text-align: center;
	color: lightslategray;
	margin: 30px 30px;
}
.donate-today-container ul{
	display: flex;
}
.donate-today-container ul li {
	list-style-type: none;
	background-color: lightgrey;
	padding: 30px 34px;
	margin-left: 10px;
	border: 1px solid lightgrey;
	font-weight: 700;
	font-size: 17px;
	border-radius: 5px;
}
.donate-today-container ul li:hover{
	border: 2px solid #f90a0aa1;
	color: #f90b0bf8;
	background: #febbc5ee;
}
.donate-border{
	color:#d3d3d354;
}
.donate-btn {
	background-color: #f90a0aa1;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 20px;
}



